.sub-title{
display: none;
    max-width: 401px;
    margin: 60px auto 0 auto;
    position: relative;
}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.bg_gradient{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -888;
    background: #50cda7;
    background: -webkit-linear-gradient(rgba(185, 85, 218, .65) 5%,rgba(81, 179, 160, .65) 95%); 
    background:    -moz-linear-gradient(rgba(185, 85, 218, .65) 5%, rgba(81, 179, 160, .65) 95%);
    background:     -ms-linear-gradient(rgba(185, 85, 218, .65) 5%,rgba(81, 179, 160, .65) 95%); 
    background:      -o-linear-gradient(rgba(185, 85, 218, .65) 5%,rgba(81, 179, 160, .65) 95%); 
    background:         linear-gradient(rgba(36, 198, 218, .65) 5%,rgba(81, 74, 160, .65) 95%);
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    opacity: 0.4;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}
.bg_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -9999;
    background: #50cda7 url('../img/back.png') no-repeat;
    background-position: center 0;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headr {
     font-family: 'Holtwood One SC';
     display: inline-block;
     text-align: center;
     font-size: 50px;
     color: white;
}
.subheadr {
     font-family: 'Architects Daughter';
     display: inline-block;
     text-align: center;
     font-size: 20px;
     color: white;
}
.eheadr {
     font-family: 'Anton';
     display: inline-block;
     text-align: center;
     font-size: 30px;
     letter-spacing: 5px;
     font-size: 30px;
     color: white;
     text-transform: uppercase;
}
.buttons {
     text-align: center;
     display: inline-block;
     width: 100%;
     max-width: 700px;
     margin: 10px;
     border: 1px solid black;
     padding: 10px;
}
#toolbar .wrapper {
    width: 197px;
    margin: 0 auto;
}
.contentt {
    top: 175px;
    position: relative;
    left: 0px;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
